
/* --- 宽度调整 ---*/
.main{
    width:80%;
}

/* -- 左方 sidebar about 里的名字 */
h2.title.site-title{
    margin-top:0.5em;
    font-weight:normal;
    font-style:italic;
    font-family:monospace;
}

/* -- 右方 上面的标题 */
h1.site-title.title{
    font-family:monospace;
    font-size:2em;
    font-style:italic;
}

/**************** sidebar in the left *************/
/* 上方的姓名和介绍 */
.sidebar .widget.widget-about.sep-after {
  text-align: right;
}

/* 最上方logo */
.sidebar .widget-about .logo {
/*    margin: auto;*/
    margin-right: initial; 
}

/* tag 标签*/
.sidebar h4.title.widget-title {
    /* float: left; */
    text-align:right;
}

/* 上下两个widget中间的分隔黄线 */
.sidebar .widget-about.sep-after:after{
    margin-right:initial;
    margin-top:3.5em;
    width:3em;
}



/******** blog content in the right **********/

.title, h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #263238;
    margin: 0 0 .625em;
}

h1.title{
    font-size: 1.5em;
}


/*.site-title, h1 {*/
/* 在标题一下添加分割线 */
div.container.entry-content h1{
    font-size: 1.4em;
    padding-top:1.5em;
    padding-bottom: 0.5em;
    border-bottom:1px solid #dddddd;
}


/* 添加限制，只改变正文中的标题二 */
div.container.entry-content h2{ 
/*    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #aaaaaa; 
    text-indent: 0.3em;*/
    font-size: 1.3em;
    border-bottom:1px solid #dddddd;
    border-bottom-width:thin;
    border-bottom-style:dashed;
    padding-bottom: 0.3em;
}

h3{
    font-size: 1.0em;
}

h4{
    font-size: 1.0em;
}

h5{
    font-size: 0.9em;
}

/* 主页的post目录 */
.h3 a{
    margin-top:0.5em;
    font-size:0.9em;
}


.comment-content h2, .comment-content h3, .comment-content h4, .comment-content h5, .comment-content h6, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
    margin-top: 1em;
}

/*----------- 正文 */

/* table of content */
.entry-toc ul {
    list-style-type: square;
    margin-left:2em;
    /* margin: 0; */
}

body {
    font-size: 1em;
    line-height: 1.7;
}

p {
    margin: 0 0 1em;
    font-family:'Source Code Pro',"PingFang SC","Microsoft YaHei",sans-serif;

/*    text-indent: 2em; */
}

strong {
    font-size:0.95em;
}

blockquote {
    font-size: 0.9em;
}

/* 去除标题和正文之间的黄线 */
/* 影响主页
.header .sep-after:after{
    content:none;
}
*/

/*------ menu中的大写和字体大小---- */
/* 右上方的 Home Posts等*/
.menu li{
    text-transform:none;
    font-size:1.3em;
}


/* posts 列表中 时间和标题的对齐 */
li.item {
    align-items: baseline;
}


/*---- 几根分割线 */
body{
    --color-accent: #cccccc;
}

.header .sep-after:after {
/*    border-bottom-color: #dddddd; */
    width:auto;
}
.footer .sep-before:before{
/*    border-bottom-color: #dddddd; */
    width:auto;
}
.sidebar .widget-about.sep-after:after{
 /*   border-bottom-color: #dddddd;*/
}


/* ---- TOC 目录右方悬浮（在不同屏幕大小上有bug） ---*/
/*
.entry-toc{
    position: fixed;
    left: 80%;
    font-size:small;
    margin-right:auto;
    width:20%;
}
*/

/*--- sidebar Recent ---*/
section.widget.widget-recent_posts.sep-after {
    /* 设置省略过长的字符等 */
    text-overflow: ellipsis;
   /* white-space: nowrap;*/
    overflow: hidden;

    text-align: left;
}

section.widget.widget-recent_posts.sep-after ul{
    font-size:0.9em;
}


/*  引用长单词和长句切分换行 */
code {
    word-break: break-all;
    line-height:1;
    font-size:0.8em;
}
